.logo {
  &,
  &-link,
  &-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 120px;
  }
}

.phone {
  @extend %reset-list;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    fill: $primary_color_1;
    margin-right: 8px;
  }

  &-item {
    margin: 0 5px;
  }

  &-number {
    color: $primary_color_2;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

    &:hover {
      color: $themeColorTwo;
    }
  }
}

.social {
  @extend %reset-list;
  padding: 0 10px;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: $border_round_radius;
    box-shadow: $social_box_shadow;

    & i {
      color: $light_color;
      font-size: 20px;
    }

    &:hover {
      & i {
        color: $themeColorTwo;
      }
    }
  }

  &-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: $iconColor;

    &:hover {
      color: $iconColorActive;
    }
  }
}

.messenger {
  @extend %reset-list;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin-right: 6px;
  }

  &-link {
    background: $primary_color_1;
    border-radius: $border_round_radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;

    &.messenger-viber {
      background: #774A92;

      &:hover {
        background: lighten(#774A92, 15%);
      }
    }

    &.messenger-telegram {
      background: #3dafda;

      &:hover {
        background: lighten(#3dafda, 15%);
      }
    }

    & i {
      color: $primary_color_1;
      font-size: 20px;
    }

    &:hover {

    }
  }
}

.lang {
  background: $primary_color_1;
  border: 2px solid $light_color;
  border-radius: 10px;
  @extend %reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: height ease-in-out 0.5s;

  &:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid $themeColorTwo;
    border-left: 2px solid $themeColorTwo;
    transform: rotate(-45deg);
    position: absolute;
    top: 13px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
  }

  &:hover {
    & .lang-item {
      display: block;
    }
  }

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
  }

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 44px;
  }

  &-item {
    background: $primary_color_1;
    display: none;

    &.current-lang {
      display: block;
    }

    a {
      color: $primary_color_2;
      display: block;
      padding: 0 25px 0 15px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;

      &:hover {
        color: $themeColorTwo
      }

      img {
        height: 15px;
      }
    }
  }

  &-item:last-child {
    a {
      &:after {
        display: none;
      }
    }
  }
}

//lang dropdown
.pll-parent-menu-item {
  .sub-menu {
    width: auto !important;
  }
}