.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $themeColorTwo;
}

.copyright {
  padding: 20px 0;
  color: $footerFontColor;
  display: flex;
  justify-content: space-between;

  & .date {
    color: $primary_color_1;
    font-weight: 500;
  }

  a {
    color: $primary_color_1;
    font-weight: 500;

    &:hover {
      color: $footerLinkColorActive;
    }
  }

  //xs 544
  @media #{$mobile} {
    flex-direction: column;
    text-align: center;
  }
}

.developer {
  & a {
    color: $primary_color_1;
    font-weight: 500;

    &:hover {
      color: $primary_color_2
    }
  }
}